* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// HEADER
.header {
    border: 1px solid black;
    padding: 15px 0;
    &__inner {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        column-gap: 70px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    &__menu {
        margin-left: auto;
        &-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
        }
        &-link {
            color: black;
            text-decoration: none;
        }
    }

    &__button {
        border: 1px solid black;
        padding: 10px 20px;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }
}

// CONTENT
.content {
    padding: 50px 0;
    &__inner {
        width: 1140px;
        margin: 0 auto;
    }
    &__message {
        text-align: center;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;
    }
    &__post {
        padding: 25px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        &-title {
            font-size: 30px;
            margin-bottom: 15px;
            color: black;
            text-decoration: none;
        }
        &-desc {
            font-size: 20px;
            margin-bottom: 10px;
        }
        &-datetime {
            font-size: 14px;
            color: rgb(81, 81, 81);
        }
    }
}

// POST DETAILS
.post {
    padding: 50px 0;
    &__inner {
        width: 1140px;
        margin: 0 auto;
    }
    &__body {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;
        &-title {
            font-size: 45px;
            margin-bottom: 20px;
        }
        &-description {
            font-size: 20px;
            margin-bottom: 10px;
        }
        &-datetime {
            font-size: 15px;
            color: rgb(81, 81, 81);
        }
        &-button {
            border: 1px solid red;
            padding: 10px 20px;
            background-color: transparent;
            color: red;
            font-weight: 700;
            text-decoration: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

// CREATE FORM
.create {
    padding: 50px 0;
    &__inner {
        width: 1140px;
        margin: 0 auto;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 0 300px;
        &-label {
            font-size: 18px;
            margin-bottom: 5px;
        }
        &-input {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid black;
        }
        &-button {
            margin-top: 40px;
            margin-right: auto;
            padding: 13px 25px;
            background-color: #fff;
            border: 1px solid black;
            margin-bottom: 20px;
        }
        &-error {
            font-size: 14px;
            color: red;
            margin-bottom: 12px;
        }
    }
}
